<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>行途旅游网</title>
    @Styles.Render("~/Content/xtCss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/layer")
</head>
<body id="nv_portal" class="pg_index" onkeydown="if(event.keyCode==27) return false;">
    <header class="header">        
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "topbar" }))
            {
                @Html.AntiForgeryToken()
                <div class="inner-topbar clearfix">
                    <div class="loginout">
                        @Html.ActionLink("你好 " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "管理" })
                        <a href="javascript:document.getElementById('logoutForm').submit()">注销</a>
                    </div>                    
                </div>
            }
        }
        else
        {
            <div class="inner-topbar clearfix">
                <div class="loginout">
                    @*@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
                    <a id = "register" href = "#">注册</a>
                    <span class="spacer">|</span>
                    <a id="login" href="#">登陆</a>
                    @*@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
                </div>
            </div>

        }
        <div class="main-header clearfix">
            <div class="inner-mheader clearfix">
                <h1 class="logo">
                    <a href="#" target="_blank">
                        <img src="~/Content/img/logo.jpg" class="pngfix" title="首页" alt="首页" style="width: 186px;height: 65px;">
                    </a>
                </h1>
                <div class="searchbar">
                    <form class="searchform" id="commonSearchForm" method="get" action="" target="_blank">
                        <input type="hidden" name="mod" id="scbar_mod" value="search" />
                        <input type="hidden" name="ser1" value="activity" id="indexSearchTypeValue">
                        <input type="hidden" name="formhash" value="6e7ebcf6" />
                        <input type="hidden" name="srchtype" value="title">
                        <input type="hidden" name="srhfid" value="0" />
                        <input type="hidden" name="srhlocality" value="portal::index" />
                        <input type="hidden" id="scbar_btn" name="searchsubmit" value="true">
                        <div class="searchtype clearfix">
                            <div id="searchselect">活动</div>
                            <ul class="searchdrop" id="search_bar">
                                <li data-searchtype="activity">活动</li>
                                <li data-searchtype="lvxing">旅行</li>
                                <li data-searchtype="article">文章</li>
                                <li data-searchtype="forum">帖子</li>
                                <li data-searchtype="user">用户</li>
                                <li><a href="#" target="_blank">更多</a></li>
                            </ul>
                        </div>
                        <input type="submit" id="search_submit_btn" class="submitbtn pngfix" value="搜索">
                        <input type="text" name="q" id="serbox" class="searchinput" placeholder="输入目的地、景点名等关键词">
                    </form>
                </div>

            </div>
        </div>
    </header>
    <nav class="mainnav">
        <ul class="clearfix" id="newnavi">
            <li>
                <a href="/Home">首页</a>
            </li>
            <li>
                <a href="/Introduction">公司介绍</a>
                <dl class="navdrop"></dl>
            </li>
            <li>
                <a href="/VIP">vip尊享</a>
                <dl class="navdrop"></dl>
            </li>
            <li>
                <a href="/Preference">会员特惠</a>
                <dl class="navdrop"></dl>
            </li>
            <li>
                <a href="/Activity">会员活动</a>
                <dl class="navdrop"></dl>
            </li>

            <li>
                <a href="/Share">会员分享</a><em></em>
            </li>
            <li>
                <a href="/Zone">会员专区</a><em></em>
            </li>
            <li>
                <a href="/IntegralMall">积分商城</a>
            </li>
            <li>
                <a href="/Connection">联系我们</a>
                <dl class="navdrop">
                    <!--<dd><a href="#">人才招聘</a></dd>-->
                </dl>
            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer">
            <div class="inner-footer clearfix">
                <div class="footertop clearfix">
                    <div class="footer-up clearfix">
                        <ul class="footerlink clearfix">
                            <li>
                                <dl>
                                    <dt class="dt1">关于我们</dt>
                                    <dd>
                                        <a href="#" target="_blank">行途简介</a>
                                    </dd>
                                    <dd>
                                        <a href="#" target="_blank">企业文化</a>
                                    </dd>
                                    <dd>
                                        <a href="#" target="_blank">联系我们</a>
                                    </dd>
                                    <dd>
                                        <a href="#" target="_blank">加入我们</a>
                                    </dd>
                                    <dd>
                                        <a href="#" target="_blank">广告与合作</a>
                                    </dd>
                                    <dd>
                                        <a href="#" target="_blank">网站声明</a>
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="dt2">帮助中心</dt>
                                    <dd><a href="#" target="_blank">新手入门</a></dd>
                                    <dd><a href="#" target="_blank">账号问题</a></dd>
                                    <dd><a href="#" target="_blank">问题投诉</a></dd>
                                    <dd><a href="#" target="_blank">为什么参加行途活动</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="dt3">实用工具</dt>
                                    <dd><a href="#" target="_blank">网址导航</a></dd>
                                    <dd><a href="#" target="_blank">网站地图</a></dd>
                                    <dd><a href="#" target="_blank">领队申请</a></dd>
                                </dl>
                            </li>
                            <li>
                                <dl>
                                    <dt class="dt4"></dt>
                                    <dd class="dd4"><img src="~/Content/img/ewmicon.jpg" width="100" height="123" alt="" /></dd>
                                </dl>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="footerbt">
                    <p class="copyright">
                        北京行途旅游咨询有限公司  京ICP证11111111号-1   电信业务审批[2003]字第32222号
                    </p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
<style type="text/css">
    .register-div {
        margin: 0.5rem;
        margin-left: 4.5rem;
    }
    .register-label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .register-input {
        width: 200px;
        border-radius: 4px;
        padding: 6px 12px;
        line-height: 1.43;
        color: #555555;
        vertical-align: middle;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 1px;
        background-color: #ffffff;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
    .register-btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        color: white;
        background-color: #63B8FF;
        /*border-color: #cccccc;*/
    }
</style>
@* 这个方式以后需进行精简 *@
<script type="text/javascript">
    $("#register").on('click', function () {
        layer.open({
            type: 1, //page层
            area: ['400px', '350px'],
            title: '用户注册',
            shade: 0.6, //遮罩透明度
            moveType: 1, //拖拽风格，0是默认，1是传统拖动
            shift: 1, //0-6的动画形式，-1不开启
            content: '<form action="/Account/Register"" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="ITq_rhhD4xI4GwCNftqraKSzJOe2660YJd9y2PCWGga9GkpOc7zGOMW6GlHvfLRSmTh3s_D82T0GLrudxCJH-9ui3Dk6PeumlaxzIFa_cjo1"><div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li></ul></div><div class="register-div"><label class="register-lable" for="UserName">用户名</label><div class="col-md-10"><input class="register-input" data-val="true" data-val-required="用户名 字段是必需的。" id="UserName" name="UserName" type="text" value=""></div></div><div class="register-div"><label class="register-lable" for="Password">密码</label><div class="col-md-10"><input class="register-input" data-val="true" data-val-length="密码 必须至少包含 6 个字符。" data-val-length-max="100" data-val-length-min="6" data-val-required="密码 字段是必需的。" id="Password" name="Password" type="password"></div></div><div class="register-div"><label class="register-lable" for="ConfirmPassword">确认密码</label><div class="col-md-10"><input class="register-input" data-val="true" data-val-equalto="“确认密码”和“密码”不匹配。" data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" type="password"></div></div>		<div class="register-div"><label class="register-lable" for="Introductor">介绍人</label><div class="col-md-10"><input class="register-input" data-val="true" data-val-required="Introductor 字段是必需的。" id="Introductor" name="Introductor" type="text" value=""></div></div><div class="register-div"><div class="col-md-offset-2 col-md-10"><input type="submit" class="register-btn" value="注册"></div></div></form>'
        });
    })

    $("#login").on('click', function () {
        layer.open({
            type: 1, //page层
            area: ['400px', '270px'],
            title: '用户登陆',
            shade: 0.6, //遮罩透明度
            moveType: 1, //拖拽风格，0是默认，1是传统拖动
            shift: 1, //0-6的动画形式，-1不开启
            content: '<form action="/Account/Login" method="post" role="form" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="H47U5CZmYwNdNeioC1ORnXJu66wm8Prd9h8RYzVfJkKtbkKxQAfW2QJ2slJV2XfY5NOupQ8YW3HxgHJETCFjGyLVQCTJDMhg4mIL38sBefE1"><div class="register-div"><label class="register-lable" for="UserName">用户名</label><div class="col-md-10">	<input class="register-input" data-val="true" data-val-required="用户名 字段是必需的。" id="UserName" name="UserName" type="text" value="">	<span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span></div>	</div>	<div class="register-div"><label class="register-lable" for="Password">密码</label><div class="col-md-10">	<input class="register-input" data-val="true" data-val-required="密码 字段是必需的。" id="Password" name="Password" type="password">	<span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span></div>	</div>	<div class="register-div"><div class="col-md-offset-2 col-md-10">	<div class="checkbox"><input data-val="true" data-val-required="记住我? 字段是必需的。" id="RememberMe" name="RememberMe" type="checkbox" value="true"><input name="RememberMe" type="hidden" value="false"><label for="RememberMe">记住我?</label>	</div></div>	</div>	<div class="register-div"><div class="col-md-offset-2 col-md-10">	<input type="submit" value="登录" class="register-btn"></div>	</div></form>'
        });
    })
    
</script>